@use 'custom' as *;
@use '../assets/css/pollen.css' as *;

$red-300: #fc8181;
$red-500: #e53e3e;
$red-700: #c53030;
$red: $red-500;
$green-300: #9ae6b4;
$green-500: #48bb78;
$green-700: #2f855a;
$green: $green-500;
$blue-300: #63b3ed;
$blue-500: #4299e1;
$blue-700: #3182ce;
$blue: $blue-500;
$pink-300: #fbb6ce;
$pink-500: #ed64a6;
$pink-700: #d53f8c;
$pink: $pink-500;
$purple-300: #b794f4;
$purple-500: #805ad5;
$purple-700: #6b46c1;
$purple: $purple-500;
$teal-300: #81e6d9;
$teal-500: #38b2ac;
$teal-700: #2c7a7b;
$teal: $teal-500;
$yellow-300: #faf089;
$yellow-500: #ecc94b;
$yellow-700: #d69e2e;
$yellow: $yellow-500;
$orange-300: #fbd38d;
$orange-500: #ed8936;
$orange-700: #dd6b20;
$orange: $orange-500;
$brown-300: #a1887f;
$brown-500: #795548;
$brown-700: #5d4037;
$brown: $brown-500;


// Colors
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "success": $success,
  "info": $info,
  "blue": #1919e6,
  "red": #e53e3e,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "pink": #ed64a6,
  "brown": #48321b,
  "gray": #808080,
  "black": black,
  "white": white,
);


@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
    
    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }
    }
    
    .bg-#{$key} {
        background-color: $val;
    }
    
    .border-#{$key} {
        border: 1px solid $val;
    }
    
    @if($val != black and $val != white) {
    
    // Light variations
    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i * 10);
        }
        
        .text-hover-#{$key}-light-#{$i} {
            &:hover {
                color: mix(white, $val, $i *10);
            }
        }
        
        .bg-#{$key}-light-#{$i} {
            background-color: mix(white, $val, $i * 10);
        }
        
        .border-#{$key}-light-#{$i} {
            border: 1px solid mix(white, $val, $i * 10);
        }
    }
    
    // Dark variations
    @for $i from 1 through 9 {
        .text-#{$key}-dark-#{$i} {
            color: mix(black, $val, $i * 10);
        }
        
        .text-hover-#{$key}-dark-#{$i} {
            &:hover {
                color: mix(black, $val, $i *10);
            }
        }
        
        .bg-#{$key}-dark-#{$i} {
            background-color: mix(black, $val, $i * 10);
        }
        
        .border-#{$key}-dark-#{$i} {
            border: 1px solid mix(black, $val, $i * 10);
        }
    }
}
}

