@use '../custom' as *;
@use '../colors' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/mixins' as *;
@use '../utilities/grid' as *;

.hide {
    display: none;
}



body {
    padding: 30px;
    color: $text;
    text-align: center;
    background-color: $grey-500;
    
    @include respond-to-down(sm) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
  
.content {
    flex-direction: column;
    // border: 2px solid purple;
    
    @include respond-to-down(sm) {
        padding-left: 0;
        padding-right: 0;
    }
}

.top {
    width: 100%;
    padding: 20px 0;
    border-radius: 5px; 
    background-color: $primary;
    
    // title
    h1 {
        color: $text;
        // border: 2px solid red;
    }
}

.image-container {
    margin: 10px auto;
    padding: 10px auto;
    
    h3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    // Image
    img {
        max-width: 100%;
        max-height: 600px;
        border-radius: 5px;
        @include boxShadow;
    }
    
    @include respond-to-down(sm) {
        
        img {
            max-height: 650px;
        }
    }
}

// Buttons
.buttons {
    margin: 1.5rem auto;
    gap: 15px;
    
    .img-btn {
        @include btnColor($purple-500);
    }
      
    .save-btn {
        @include btnColor($blue-500);
    }
}


