@use '../custom' as *;
@use '../colors' as *;
@use '../utilities/breakpoints' as *;
@use '../utilities/mixins' as *;
@use '../utilities/grid' as *;

.full-page {
    // position: relative;
    width: 100%;
    height: 100%;
    // border: 2px solid blue;
}

.my-container {
    padding: 20px;
    margin: 50px auto;
    
    @include boxShadow;
    
    // border: 2px solid $green-300;
}












