@use '../custom' as *;

@mixin boxShadow {
    box-shadow: var(--elevation-3);
    box-shadow: var(--elevation-4);
    box-shadow: var(--elevation-5);
}

@mixin btnColor($color) {
    background-color: $color;
    border: 1px solid darken($color, 8%);
    
    &:hover {
        background-color: darken($color, 5%);
    } 
}





